html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: lightgrey;
    font-family: sans-serif;
    background: black;
}

button, input, select {
    max-width: 20rem;
    background: #333;
    padding: .25rem;
    color: lightgrey;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid grey;
    border-radius: 5px;
    margin: .25rem;

    transition: background 100ms ease-in-out;
}

button:focus, input:focus, select:focus {
    outline: 2px solid AccentColor;
}

button {
    cursor: pointer;
    padding: .25rem 1rem;
}

button:hover {
    background: #444;
}

input {
    width: 15rem;
}

a, .query-link {
    text-decoration: 2px dotted underline;
    width: unset;
    background: unset;
    padding: unset;
    color: unset;
    font-size: unset;
    outline: none;
    border: none;
    margin: unset;
}

a:hover, .query-link:hover {
    text-decoration: 2px solid underline;
}

blockquote {
    margin: .5rem;
    padding: .25rem;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 2px solid grey;
    background: #5f71;
    width: unset;
}

a {
    color: cyan;
}

.positive {
    color: #aea;
}

.negative {
    color: #eaa;
}

